.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &--degree {
        // display: flex;
        // align-items: center;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        .current-temp {
            display: flex;
            align-items: center;
            padding: 2rem;

            h2 {
                font-size: 4rem;
            }
        }

        .min-max-temp {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .min-temp, .max-temp {
                display: flex;
                align-items: center;

                h3 {
                    font-size: 2.5rem;    
                }
            }
        }
    }

    &--description {
        font-size: 2rem;
        text-transform: capitalize;
        padding-top: 3rem;
    }

}